@model CartViewModel

<table class="table table-stripped table-bordered">
    <thead>
        <tr>
            <th style="max-width: 120px"></th>
            <th>Назва продукту</th>
            <th style="width: 120px">Ціна</th>
            <th style="width: 100px">Кількість</th>
            <th style="width: 120px">Сума</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CartItem item in Model.Cart.Items)
        {
            <tr>
                <td>@* Actions *@</td>
                <td>@item.Product.Name</td>
                <td class="text-end">@item.Product.Price.ToString("c")</td>
                <td>@item.Quantity</td>
                <td class="text-end">@((item.Quantity * item.Product.Price).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <th colspan="3">Загальна сума: </th>
            <td class="text-end">@Model.Cart.TotalPrice.ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="d-sm-inline d-block">
    @if (Model.ReturnUrl != null)
    {
        <a href="@Model.ReturnUrl" class="btn btn-outline-dark">Continue shopping</a>
    }
    @* Check out *@
</div>
